<section id="search" class="search-wrap">
    <div class="title">
        <h1>Find a Coding Gig</h1>
    </div>

    <form action="/gigs/search" class="search-form">

        <div class="row align-items-center" style="min-height: calc(100vh - 550px);">

            <div class="col-lg-6 mx-auto">
                <div class="input-group">
                    {{!-- <i class="fas fa-search"></i> --}}
                    <input type="search" class="form-control" name="term" placeholder="Javascript, mySQL, etc...">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </span>
                </div>
            </div>
        </div>

        <footer class="footer fixed-bottom text-center">
            <span class="text">Place sticky footer content here.</span>
        </footer>

    </form>

</section>